%h1 New User

= form_tag users_path, :method => 'post' do

  = label :user, :first_name, 'First Name'
  = text_field :user, 'first_name'

  = label :user, :last_name, 'Last Name'
  = text_field :user, 'last_name'

  = label :user, :email, 'Email'
  = text_field :user, 'email'

  = label :user, :address, 'Address'
  = text_field :user, 'address'

  = label :user, :password, 'Password'
  = text_field :user, 'password'

  = label :user, :password_confirmation, 'Confirm Password'
  = text_field :user, 'password_confirmation'

  = submit_tag 'Create User'