.welcome_statement
  %h2 Your Purchases

.product_listing
  %table.product_listing_display
    - if @user_purchases.empty?
      %tr
        %th You have no recorded purchases
    - else
      - @user_purchases.order(purchase_timestamp: :desc).each do |item|
        %tr.product_listing_row
          %td.product_listing_row
            .listing_img
              = link_to image_tag(item.product.image.url, :height => "400", :class => "card-img"), product_path(item.product.id)
            .product_alignment_fields
              %p.listing-text= "Name: " + item.product.name
              %p.listing-text= "Category: " + item.product.category
              %p.listing-text= 'Listing Price: $' + item.product.price.to_s
              %p.listing-text= Purchase.where(:product_id => item.product.id).first.purchase_timestamp
          %td
            .product_listing.right
              %p= link_to "More Info", product_path(item.product.id), class: "card-button"
              %p= link_to "Add Seller Review", new_seller_review_path(review_id: item.product.user_id), class: "card-button"

.profile_button
  = link_to 'Return to Profile', "/users/#{@current_user[:id]}"