.welcome_statement
  %h1 Sold Items

%table#products.table-style
  %thead
    %tr
      %th Product Name
      %th Category
      %th Price
      %th Date Sold
  %tbody
    - Product.where(:user_email => @current_user.email).each do |product|
      %tr
        %td= product.name
        %td= product.category
        %td= '$' + product.transaction
        %td
          - if product.is_sold?
            = Purchase.where(:product_id => product.product_id).first.purchase_timestamp
          - else
            = "Item not yet sold"

.link_to_button
  = link_to 'Return to Profile', "/users/#{@current_user[:id]}"