.welcome_statement
  %h1 Sold Items

%table#products.table-style
  %thead
    %tr
      %th Product Name
      %th Category
      %th Price
      %th Date Sold
  %tbody
    - Product.where(:user_id => @current_user.id).each do |product|
      %tr
        %td= product.name
        %td= product.category
        %td= '$' + product.transaction

.link_to_button
  = link_to 'Return to Profile', "/users/#{@current_user[:id]}"