.welcome_statement
  %h2 Items up for sale

.profile_button
  %h2 Sold Items

.product_listing
  %table.product_listing_display
    - Product.where(:user_id => @current_user.id, :is_sold => true).each do |product|
      %tr.product_listing_row
        %td.product_listing_row
          .listing_img
            = link_to image_tag(product.image.url, :height => "400", :class => "card-img"), product_path(product.id)
          .product_alignment_fields
            %p.listing-text= "Name: " + product.name
            %p.listing-text= "Category: " + product.category
            %p.listing-text= 'Money Made: $' + product.transaction
            %p.listing-text= Purchase.where(:product_id => product.id).first.purchase_timestamp
        %td
          .product_listing.right
            %p= link_to "More Info", product_path(product.id), class: "card-button"

.profile_button
  %h2 Items Not Sold Yet

.product_listing
  %table.product_listing_display
    - Product.where(:user_id => @current_user.id, :is_sold => false).each do |product|
      %tr.product_listing_row
        %td.product_listing_row
          .listing_img
            = link_to image_tag(product.image.url, :height => "400", :class => "card-img"), product_path(product.id)
          .product_alignment_fields
            %p.listing-text= "Name: " + product.name
            %p.listing-text= "Category: " + product.category
            %p.listing-text= 'Listing Price: $' + product.price.to_s
            %p.listing-text= 'Up for sale.'

        %td
          .product_listing.right
            %p= link_to "More Info", product_path(product.id), class: "card-button"

.profile_button
  = link_to 'Return to Profile', "/users/#{@current_user[:id]}"