%h2 #{@current_user.name}'s Account
%h4 Email
%p #{@current_user.email}
-# %h4 Address
-# %p #{@current_user.address}
%h4 In-store credit
%p $#{'%.2f' % @current_user.wallet}

.link_to_button
  = link_to 'Add a New Product to Sell?', new_product_path

.link_to_button
  = link_to 'Purchase History', purchase_history_path_url

.link_to_button
  = link_to 'Seller History', seller_history_path_url