.profile_button
  %h2.title_text #{@current_user.name}'s Account
  %h4.title_text Email
  %p.title_text #{@current_user.email}
  %h4.title_text In-store credit
  %p.title_text $#{'%.2f' % @wallet.wallet}

.profile_button
  = link_to 'Add a New Product to Sell?', new_product_path

.profile_button
  = link_to 'View Purchase History', purchase_history_path_url

.profile_button
  = link_to 'View Seller History', seller_history_path_url
%p

- if !@seller_reviews.nil?
  .review_card_display
    %h4.header_text Your Reviews:
    %table.review_table
      - @seller_reviews.each do |r|
        %tr.review_row
          %td.review_column
            %p.review_text=((('&starf;'.html_safe) + ' ')  * r.rating)
            %p.review_text= '&ldquo;'.html_safe + r.review + '&rdquo;'.html_safe
          %td.review_stars
            %p.review_name= "Reviewer: " + r.name

%p.spacing