%h2 Shopping Cart
= form_tag checkout_path, :id => 'user_shopping_cart' do
  - if @current_shopping_cart_list.nil? || @current_shopping_cart_list.empty?
    %h4 You have no items in your shopping cart
  - else
    %table#products.table-style
      %thead
        %tr
          %th Product Name
          %th Category
          %th Price
          %th More Info
      %tbody
        - total_price = 0
        - @current_shopping_cart_list.each do |item|
          %tr
            %td= item.product.name
            %td= item.product.category
            %td= '$' + item.product.price.to_s
            %td= link_to "More about #{item.product.name}", product_path(item.product.id)
            - total_price += item.product.price.to_f

    %h4 Total Price: $#{'%.2f' % total_price}
    %h4 Use Wallet Balance?
    = label_tag :use_wallet_balance, "Balance: $#{'%.2f' % @current_user.wallet}"
    = check_box_tag :use_wallet_balance, nil, false, id: 'use_wallet_balance'

    = submit_tag 'Check Out', :id => 'check_out_button'

%h4= link_to "Return to products page", products_path