%h2 Edit Product

.new_product_form
  = form_tag product_path(@current_product), :method => :put, multipart: true do

    = label :product, :name, 'Product Name'
    = text_field :product, 'name', value: @current_product.name

    = label :product, :image, 'Product Image'
    = file_field :product, :image

    = label :product, :category, 'Product Category'
    = select :product, :category, ['Home', 'Entertainment', 'Clothing', 'Personal Care', 'Office', 'Other'], value: @current_product.category

    = label :product, :quality, 'Product Description'
    = select :product, :quality, ['New', 'Like New', 'Used', 'Well Worn'], value: @current_product.quality

    = label :product, :description, 'Product Description'
    = text_area :product, :description, cols: "40", rows: "5", maxlength: "100", value: @current_product.description

    = label :product, :price, 'Price'
    = text_field :product, 'price', value: @current_product.price

    = label :product, :street_address, 'Street Address'
    = text_field :product, 'street_address', value: @current_product.street_address

    = label :product, :state, 'State'
    = text_field :product, 'state', value: @current_product.state

    = label :product, :city, 'City'
    = text_field :product, 'city', value: @current_product.city

    = label :product, :zip, 'Zip'
    = text_field :product, 'zip', value: @current_product.zip

    %p Edit Product?
    = submit_tag 'Confirm'

.link_to_button
  = link_to 'Return to Home', products_path