%html
  %head
    %title Index Page
    -# = javascript_include_tag 'application'
    -# = csrf_meta_tags

.welcome_statement
  %h1 Shop KIBAB
.product_search_bar
  = form_tag search_path_path, :method => 'get' do
    = text_field_tag :search, params[:search], placeholder: 'Search Products'
    = label :product, :categories, "Filter by Category"
    = select :product, :categories, ['None','Home', 'Entertainment', 'Clothing', 'Personal Care', 'Office', 'Other']
    = label  :product, :descriptions, "Filter by Description"
    = select :product, :descriptions, ['None','Well Worn', 'Used', 'Like New', 'New']
    = submit_tag 'Search', :id => 'search_button'

= form_tag :action => 'add_shopping_cart', :id => 'user_shopping_cart' do
  %table#products.table-style
    %thead
      %tr
        %th Product Name
        %th Category
        %th Description
        %th Price
        %th More Info
        %th Select Item
    %tbody
      - @products.each do |product|
        %tr
          %td= product.name
          %td= product.category
          %td= product.description
          %td= '$' + product.price
          %td= link_to "More about #{product.name}", product_path(product.id)
          %td= check_box_tag "products[#{product.id}]", :id => "checkbox_#{product.id}"
  = submit_tag 'Add Selected Items to Shopping Cart', :id => 'shopping_cart_button'

.new_product_button
  = link_to 'Add New Product', new_product_path

.carousel
  .carousel-slides
    - @products.select {|product| product.image?}.each_with_index do |product,id|
      - if id.eql?(0)
        = link_to image_tag(product.image, :height => "400"), product_path(product.id), id: "carousel-slide-#{id}", class: "carousel-slide active"
      - else
        = link_to image_tag(product.image, :height => "400"), product_path(product.id), id: "carousel-slide-#{id}", class: "carousel-slide"
  = button_tag '&#8592;'.html_safe, class: 'carousel-button prev', :onclick => "prevImg()"
  = button_tag '&#8594;'.html_safe, class: 'carousel-button next', :onclick => "nextImg()"