%html
  %head
    %title Index Page
    = javascript_include_tag "index", "data-turbolinks-track" => true
    -# = javascript_include_tag 'application'
    -# = csrf_meta_tags

.welcome_statement
  =image_tag "icons/logo.png", :width => "300"

= form_tag search_path_path, :method => 'get', :class => "product-index-form" do
  .product_search_bar
    = text_field_tag :search, params[:search], placeholder: 'Search Products &#x26B2;'.html_safe, class: "product_search_field"

    .product_alignment_fields
      = label :product, :categories, "Category:", class: "background-text"
      = select :product, :quality, ['None','Well Worn', 'Used', 'Like New', 'New'], selected: params.dig(:product, :quality)
    .product_alignment_fields
      = label  :product, :quality, "Quality:", class: "background-text"
      = select :product, :categories, ['None', 'Home', 'Entertainment', 'Clothing', 'Personal Care', 'Office', 'Other'], selected: params.dig(:product, :categories)
    = submit_tag 'Search', :id => 'search_button', class: "search_button"

.product_card_display
  = link_to 'Sort by Name', products_path(sort: 'product_name', direction: toggle_direction('product_name'), search: params[:search], product: { categories: params.dig(:product, :categories), descriptions: params.dig(:product, :descriptions) }), class: "sort_button"
  = link_to 'Sort by Price', products_path(sort: 'price', direction: toggle_direction('price'), search: params[:search], product: { categories: params.dig(:product, :categories), descriptions: params.dig(:product, :descriptions) }), class: "sort_button"

%p.spacing
.product_card_display
  - @products.each do |product|
    .product_card
      = link_to image_tag(product.image.url, :height => "400", :class => "card-img"), product_path(product.id)
      %p.card-text= product.name
      %p.card-price= "$" + product.price
      %p.card-text= product.category
      %p.card-text= product.quality
      %p
      = link_to 'Add to shopping cart', transaction_path_url(product.id), class: "card-button"

      = link_to '&starf;'.html_safe, bookmark_from_product_path(product.id), class: "card-button"

-if  @products.select {|product| product.image?}.length > 0 && !@products.nil? && !@products.empty?
  -count = 0
  %h4.title_text.center Prioritized Products!
  .carousel
    - @products.select {|product| product.image?}.each do |product|
      -count = count + 1
      - if id.eql?(0)
        = image_tag product.image.url, :height => "400", class: "carousel-slide fade"
      - else
        = image_tag product.image.url, :height => "400", class: "carousel-slide fade"
  .dots
    -count.times do
      %span.dot

%p.spacing