.welcome_statement
  %h1 Shop KIBAB
.product_search_bar
  = form_tag products_path, :method => 'get' do
    = text_field_tag :search, params[:search], placeholder: 'Search Products'
    = submit_tag 'Search', :id => 'search_button'

%table#products
  %thead
    %tr
      %th Product Name
      %th Category
      -# %th Description
      %th Price
      %th More Info
  %tbody
    - @products.each do |product|
      %tr
        %td= product.name
        %td= product.category
        %td= product.price
        %td= link_to "More about #{product.name}", product_path(product.product_id)

.new_product_button
  = link_to 'Add New Product', new_product_path