.welcome_statement
  %h1 Shop KIBAB
.product_search_bar
  = form_tag products_path, :method => 'get' do
    = text_field_tag :search, params[:search], placeholder: 'Search Products'
    = submit_tag 'Search', :id => 'search_button'

%table#products.table-style
  %thead
    %tr
      %th= link_to 'Product Name', products_path(sort: 'product_name', direction: toggle_direction('product_name'), search: params[:search])
      %th Category
      -# %th Description
      %th= link_to 'Price', products_path(sort: 'price', direction: toggle_direction('price'), search: params[:search])
      %th More Info
  %tbody
    - @products.each do |product|
      %tr
        %td= product.name
        %td= product.category
        %td= '$' + product.price
        %td= link_to "More about #{product.name}", product_path(product.id)

.new_product_button
  = link_to 'Add New Product', new_product_path