%html
  %head
    %title Index Page
    -# = javascript_include_tag 'application'
    -# = csrf_meta_tags

.welcome_statement
  %h1 Shop KIBAB
.product_search_bar
  = form_tag products_path, :method => 'get' do
    = text_field_tag :search, params[:search], placeholder: 'Search Products'
    = label :product, :categories, "Filter by Category"
    = select :product, :categories, ['None','Home', 'Entertainment', 'Clothing', 'Personal Care', 'Office', 'Other']
    = label  :product, :descriptions, "Filter by Description"
    = select :product, :descriptions, ['None','Well Worn', 'Used', 'Like New', 'New']
    = submit_tag 'Search', :id => 'search_button'

%table#products.table-style
  %thead
    %tr
      %th Product Name
      %th Category
      %th Description
      %th Price
      %th More Info
  %tbody
    - @products.each do |product|
      %tr
        %td= product.name
        %td= product.category
        %td= product.description
        %td= '$' + product.price
        %td= link_to "More about #{product.name}", product_path(product.id)

.carousel
  = button_tag '&#8592;'.html_safe, class: 'carousel-button prev', :onclick => "prevImg()"
  = button_tag '&#8594;'.html_safe, class: 'carousel-button next', :onclick => "nextImg()"
  .carousel-slides
  %ul.pictures
    - @products.each_with_index do |product,id|
      - if id.eql?(0)
        = image_tag product.image, :width => "600", id: "carousel-button-#{id}", class: "carousel-slide active"
      - else
        = image_tag product.image, :width => "600", id: "carousel-button-#{id}", class: "carousel-slide"


.new_product_button
  = link_to 'Add New Product', new_product_path