%h2 New Product

.new_product_form
  = form_tag products_path, :method => 'post', multipart: true do

    = label :product, :name, 'Product Name'
    = text_field :product, 'name'

    = label :product, :image, 'Product Image'
    = file_field :product, :image

    = label :product, :category, 'Product Category'
    = select :product, :category, ['Home', 'Entertainment', 'Clothing', 'Personal Care', 'Office', 'Other']

    = label :product, :quality, 'Product Quality'
    = select :product, :quality, ['New', 'Like New', 'Used', 'Well Worn']

    = label :product, :description, 'Product Description'
    = text_area :product, :description, cols: "40", rows: "5", maxlength: "100"

    = label :product, :price, 'Price'
    = text_field :product, 'price'

    = label :product, :street_address, 'Street Address'
    = text_field :product, 'street_address'

    = label :product, :state, 'State'
    = text_field :product, 'state'

    = label :product, :city, 'City'
    = text_field :product, 'city'

    = label :product, :zip, 'Zip'
    = text_field :product, 'zip'

    %p Sell Product?
    = submit_tag 'Confirm'

.link_to_button
  = link_to 'Return to Home', products_path