%html
  %head
    %title Search Page
    = javascript_include_tag "index"
    -# = javascript_include_tag 'application'
    -# = csrf_meta_tags

.welcome_statement
  %h4.title_text Search Results

= form_tag search_path_path, :method => 'get', :class => "product-search-form" do
  .product_search_bar
    = text_field_tag :search, params[:search], placeholder: 'Search Products &#x26B2;'.html_safe, class: "product_search_field"

    .product_alignment_fields
      = label :product, :categories, "Category:", class: "background-text"
      = select :product, :quality, ['None','Well Worn', 'Used', 'Like New', 'New'], selected: params.dig(:product, :quality)
    .product_alignment_fields
      = label  :product, :quality, "Description:", class: "background-text"
      = select :product, :categories, ['None', 'Home', 'Entertainment', 'Clothing', 'Personal Care', 'Office', 'Other'], selected: params.dig(:product, :categories)
    = submit_tag 'Search', :id => 'search_button', class: "search_button"

-if  @products.select {|product| product.image?}.length > 0 && !@products.nil? && !@products.empty?
  .carousel
    .carousel-slides
      - @products.select {|product| product.image?}.each_with_index do |product,id|
        - if id.eql?(0)
          = link_to image_tag(product.image.url, :height => "400"), product_path(product.id), id: "carousel-slide-#{id}", class: "carousel-slide active"
        - else
          = link_to image_tag(product.image.url, :height => "400"), product_path(product.id), id: "carousel-slide-#{id}", class: "carousel-slide"
    = button_tag '&#8592;'.html_safe, class: 'carousel-button prev', :onclick => "prevImg()"
    = button_tag '&#8594;'.html_safe, class: 'carousel-button next', :onclick => "nextImg()"

%p.spacing
.product_card_display
  - @products.each do |product|
    .product_card
      = link_to image_tag(product.image.url, :height => "400", :class => "card-img"), product_path(product.id)
      %p.card-text= product.name
      %p.card-price= "$" + product.price
      %p.card-text= product.category
      %p.card-text= product.quality
      %p
      = link_to 'Add to shopping cart', transaction_path_url(product.id), class: "card-button"

      = link_to '&starf;'.html_safe, bookmark_from_product_path(product.id), class: "card-button"