%html
  %head
    %title Index Page
    = javascript_include_tag "map"
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&callback=initMap",
    defer: true

%p.spacing
  = link_to 'Return to Home', products_path, class: "basic_link_button"

.product_show_display
  %table.product_img_description
    %tr
      %td.product_row_body
        = image_tag @current_product.image.url, :width => "400", :class => "main-product-img"
      %td.product_row_body
        %h2.header_text #{@current_product.name}
        %p.product_text Category: #{@current_product.category}
        %p.product_text Quality: #{@current_product.quality}
        %p.product_text $#{@current_product.price}
        -if @current_user.id.eql?(@current_product.user_id)
          = link_to 'Edit Item', edit_product_path(@current_product)
        -else
          = link_to 'Add to shopping cart', transaction_path_url, class: "basic_link_button"
          = link_to 'Bookmark', bookmark_from_product_path, class: "basic_link_button"
        %p.product_subtext #{@current_product.product_traffic} people have viewed this item

.product_description
  %h2.header_text Description
  %p #{@current_product.description}

.map-container
  %h2.header_text #{@current_product.name} Location:
  #product_map.product_map{ "data-latitude" => @current_product.lat.to_f, "data-longitude" => @current_product.long.to_f}
  %p#product_location{ "data-latitude" => @current_product.lat, "data-longitude" => @current_product.long, "data-name" => @current_product.name }

- if !@seller_reviews.empty? && !@seller_reviews.nil?
  .review_card_display
    %h4 Seller Reviews
    %table.review_table
      - @seller_reviews.each do |r|
        %tr.review_row
          %td.review_column
            %p.review_text=((('&starf;'.html_safe) + ' ')  * r.rating)
            %p.review_text= '&ldquo;'.html_safe + r.review + '&rdquo;'.html_safe
          %td.review_stars
            %p.review_name= "Reviewer: " + r.name