%h2 #{@current_product.name}
%p #{@current_product.category}
%h4 Description
%p #{@current_product.description}
%h4 Location
%p #{@current_product.location}
%h4 Price
%p $#{@current_product.price}
%h4 Is Sold?
%P #{@current_product.is_sold?}

.link_to_button
  = link_to 'Buy Item', transaction_path_url

.link_to_button
  = link_to 'Return to Home', products_path
