%html
  %head
    %title Index Page
    = javascript_include_tag "map"

%h2 #{@current_product.name}
%h4 Category: #{@current_product.category}
%h4 Quality: #{@current_product.quality}
%h4 Product Image
= image_tag @current_product.image.url, :width => "600"
%h4 Description
%p #{@current_product.description}
-# %h4 Location
-# %p #{@current_product.location}
%h4 Price
%p $#{@current_product.price}

.map-container
  #product_map{ "data-latitude" => @product.lat, "data-longitude" => @product.long }
  %h2 #{@product.name} Location:
  %p.product-location{ "data-latitude" => @product.lat, "data-longitude" => @product.long }
  %h4= product.name
  %p= product.description

-if (@current_user.id.eql?(@current_product.user_id))
  .link_to_button
    = link_to 'Edit Item', edit_product_path(@current_product)
-else
  .link_to_button
    = link_to 'Add to shopping cart', transaction_path_url
  .link_to_button
    = link_to 'Bookmark', bookmark_from_product_path

.link_to_button
  = link_to 'Return to Home', products_path

- if !@seller_reviews.empty? && !@seller_reviews.nil?
  %h4 Reviews of the Seller
  %table#products.table-style
    %thead
      %tr
        %th Name of Reviewer
        %th Review
        %th Rating
      %tbody
        - @seller_reviews.each do |r|
          %tr
            %td= r.name
            %td= r.review
            %td= r.rating