%html
  %head
    %title Index Page
    = javascript_include_tag "map"
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&callback=initMap",
    defer: true

%h2 #{@current_product.name}
.product_show_display
  %table.product_img_description
    %tr
      %td
        = image_tag @current_product.image.url, :width => "300"
      %td
        %p Category: #{@current_product.category}
        %p Quality: #{@current_product.quality}
        %p $#{@current_product.price}

.product_description
  %h4 Description
  %p #{@current_product.description}

.map-container
  %h2 #{@current_product.name} Location:
  #product_map.product_map{ "data-latitude" => @current_product.lat.to_f, "data-longitude" => @current_product.long.to_f}
  %p#product_location{ "data-latitude" => @current_product.lat, "data-longitude" => @current_product.long, "data-name" => @current_product.name }

-if (@current_user.id.eql?(@current_product.user_id))
  .link_to_button
    = link_to 'Edit Item', edit_product_path(@current_product)
-else
  .link_to_button
    = link_to 'Add to shopping cart', transaction_path_url
  .link_to_button
    = link_to 'Bookmark', bookmark_from_product_path

.link_to_button
  = link_to 'Return to Home', products_path

- if !@seller_reviews.empty? && !@seller_reviews.nil?
  .review_card_display
    %h4 Seller Reviews
    %table.review_table
      - @seller_reviews.each do |r|
        %tr.review_row
          %td.review_column
            %p.review_text=((('&starf;'.html_safe) + ' ')  * r.rating)
            %p.review_text= '&ldquo;'.html_safe + r.review + '&rdquo;'.html_safe
          %td.review_stars
            %p.review_name= "Reviewer: " + r.name