%h2 #{@current_product.name}
%p #{@current_product.category}
%h4 Product Image
- if @current_product.image?
  = image_tag @current_product.image.url, :width => "600"
%h4 Description
%p #{@current_product.description}
%h4 Location
%p #{@current_product.location}
%h4 Price
%p $#{@current_product.price}



-if (@current_user.id.eql?(@current_product.user_id))
  .link_to_button
    = link_to 'Edit Item', edit_product_path(@current_product)
-else
  .link_to_button
    = link_to 'Add to shopping cart', transaction_path_url

.link_to_button
  = link_to 'Return to Home', products_path
