%html
  %head
    %title Index Page
    = javascript_include_tag "map"
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&callback=initMap",
    defer: true

%h2 #{@current_product.name}
%h4 Category: #{@current_product.category}
%h4 Quality: #{@current_product.quality}
%h4 Product Image
= image_tag @current_product.image.url, :width => "600"
%h4 Description
%p #{@current_product.description}
-# %h4 Location
-# %p #{@current_product.location}
%h4 Price
%p $#{@current_product.price}

.map-container
  %h2 #{@current_product.name} Location:
  #product_map.product_map{ "data-latitude" => @current_product.lat.to_f, "data-longitude" => @current_product.long.to_f}
  %p#product_location{ "data-latitude" => @current_product.lat, "data-longitude" => @current_product.long, "data-name" => @current_product.name }

-if (@current_user.id.eql?(@current_product.user_id))
  .link_to_button
    = link_to 'Edit Item', edit_product_path(@current_product)
-else
  .link_to_button
    = link_to 'Add to shopping cart', transaction_path_url
  .link_to_button
    = link_to 'Bookmark', bookmark_from_product_path

.link_to_button
  = link_to 'Return to Home', products_path

- if !@seller_reviews.empty? && !@seller_reviews.nil?
  .review_card_display
    %h4 Reviews of the Seller
    .review_card
    %table
      %tr
        -stars = []
        %td
          - @seller_reviews.each do |r|
            %p= 'Name: ' + r.name
            -stars.append(r.rating)
            %p= "Review: " + r.review
        %td
          -stars.each do |num|
            %p=((('&starf;'.html_safe) + ' ')  * num)

