!!!
%html
  %head
    %title KIBAB Shop
    = stylesheet_link_tag 'application', 'media' => 'all'
    = javascript_include_tag 'manifest'
    = csrf_meta_tags

  %body
    %nav.navbar
      .nav_item
        = link_to 'KIBAB Shop', products_path
      .nav_item_2
        = link_to 'About', about_path_url
      -if !@current_user
        .nav_item_2
          = link_to 'Login', login_path_url
      -else
        .nav_item_2
          = link_to "#{@current_user.name}'s Profile", "/users/#{@current_user[:id]}"
        .nav_item_2
          = link_to 'Shopping Cart', view_shopping_cart_path
        .nav_item_2
          = link_to 'Logout', logout_path_url, method: :delete
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      = yield