-# <!DOCTYPE html>
-# <html>
-# <head>
-#   <title>RailsApp</title>
-#   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
-#   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
-#   <%= csrf_meta_tags %>
-# </head>
-# <body>
-#
-# <%= yield %>
-#
-# </body>
-# </html>

!!!
%html
  %head
    %title KIBAB Shop
    = stylesheet_link_tag 'application', 'media' => 'all'
    = javascript_include_tag 'application'
    = crsf_meta_tags

  %body
    %h1.title KIBAD Shop
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      =yield
