!!!
%html
  %head
    %title KIBAB Shop
    = stylesheet_link_tag 'application', 'media' => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %nav.navbar
      .nav_item
        %a(href=products_path) KIBAB Shop
      .nav_item_2
        %a(href=about_path_url) About
      -if !@current_user
        .nav_item_2
          %a(href=new_user_path) Create Account
        .nav_item_2
          %a(href=login_path_url) Login
      -else
        .nav_item_2
          %a(href="/users/#{@current_user[:id]}") #{@current_user.email}'s Profile
        .nav_item_2
          %a(href=login_path_url) Logout
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      -# -if @current_user
      -#   %p.welcome You are logged in as #{@current_user.email}
        -# = button_to 'Log Out', logout_path_url, :method => :delete
      -# - else
      -#   %p.login= link_to 'Login to KIBAB Shop', login_path_url
      = yield