!!!
%html
  %head
    %title KIBAB Shop
    = stylesheet_link_tag 'application', 'media' => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %nav.navbar
      .nav_item
        %a(href=products_path) KIBAB Shop
      .nav_item_2
        %a(href=about_path) About
      .nav_item_2
        %a(href=users_path) Login
    -# %h2
    -#   .header-field KIBAB Shop
    -#   .header-field{:class => nil}= link_to 'About', 'about'
    -#   .header-field{:class => nil}= link_to 'Login', new_user_path
    -# %table
    -#   %thead
    -#     %tr
    -#       %th KIBAB Shop
    -#       %th{:class => nil}= link_to 'About', 'about'
    -#       %th{:class => nil}= link_to 'Login', new_user_path
    -# %h2 KIBAB Shop
    -# %h2 Bid
    -# %h2 About
    -# %h2 Login
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      =yield
