!!!
%html
  %head
    %title KIBAB Shop
    = stylesheet_link_tag 'application', 'media' => 'all'
    = javascript_include_tag 'manifest'
    = csrf_meta_tags

  %body
    %nav.navbar
      .nav_item
        = link_to 'KIBAB Shop', products_path
      .nav_item_2
        = link_to 'About', about_path_url
      -if !@current_user
        .nav_item_2
          = link_to 'Login', login_path_url
      -else
        .nav_item_2
          = link_to "/users/#{@current_user[:id]}" do
            .link-flex-container
              = image_tag @current_user.pfp, :width => "50", style: 'border-radius: 50%; display: inline-block; vertical-align: middle;'
              #{@current_user.name}'s Profile
        .nav_item_2
          = link_to 'Shopping Cart', view_shopping_cart_path
        .nav_item_2
          = link_to 'Bookmarks', view_bookmarks_path
        = button_to "Logout",logout_path_path, method: :delete
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      = yield